.contactsContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  /* max-width: 100%; */
  line-height: 1.8;
  transition: transform 0.3s ease-in-out;
  margin-top: 50%;
  /* box-shadow: 0 2px 4px var(--container-color); */
  /* border-bottom: 2px solid var(--container-color); */
  border-radius: 10px;
  width: 250px
}



.contactsGroup {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.contactsHeader {
  text-decoration: underline;
}

.toggleButton {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 16px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
  display: block;
  align-items: center;
  text-align: center;
  margin: 12px auto;
  transition: transform 0.3s ease-in-out;
}

.toggleButton:hover {
  border-top-color: var(--focus-outline-color);
}

.toggleButton:active {
  transform: scale(1.1);
}

.expanded .toggleButton {
  transform: rotate(180deg);
}



@media (max-width: 768px) {}