.app {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;

}

@media (max-width: 575px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}