/* .app {
  display: flex;
  flex-direction: column;
} */

/* .mainContainer {
  display: flex;
  max-width: 100%;

}

@media (max-width: 575px) {
  .mainContainer {
    flex-direction: column;
  }
} */