   /* .education {
  display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    max-width: 100%;
    line-height: 1.8;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px var(--container-color);
    border-bottom: 2px solid var(--container-color);
    border-radius: 10px;
    width: 250px
   } */