   .education {
  display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    line-height: 1.8;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 2px 4px var(--container-color);
    border-bottom: 2px solid var(--container-color);
    background-color: var(--modal-background);
    border-radius: 10px;
   }