.experienceContainer {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  min-width: 320px;
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .experienceContainer {

    
    right: 5%;
    display: flex;
    min-width: 320px;
    width: 70vh;
  }
}