.paragraph {}

.caption {}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .header {
  align-items: center;
  }
}
