.languages {
display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: center;
  max-width: 100%;
  line-height: 1.8;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 4px var(--container-color);
  border-bottom: 2px solid var(--container-color);
  border-radius: 10px;
  width: 250px
}

.title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.item:last-child {
  border-bottom: none;
}

.language {
  font-weight: 500;
  color: var(--focus-outline-color);
}

.level {
  font-style: italic;
  color: var(--text-color);
}

@media (min-width: 768px) {
  .languages {
    margin: 20px 0;
    padding: 20px;
  }

  .title {
    font-size: 24px;
  }

  .item {
    padding: 10px 0;
  }
}

@media (min-width: 1024px) {
  .languages {
    margin: 24px auto;
    padding: 24px;
    max-width: 800px;
  }

  .title {
    font-size: 28px;
  }

  .item {
    font-size: 18px;
  }
}